<li class="border list-unstyled" [hidden]="isDeleted ? 'hidden' : null">
<div class="row">
    <div class="col-1" [hidden]="router != '/products'">
        <input type="checkbox" ngModel (change)="sendEvent($event)" name="box{{productID}}">
    </div>

    <div class="media col">
        <img class="mr-3" src="https://picsum.photos/id/{{productInfo.uid}}/200" alt="Generic placeholder image">
        <div class="media-body">
            <h5 class="mt-0 mb-1"></h5>
            <p>Precio (MXN): ${{productInfo.precio}}</p>
            <p>Marca:  {{productInfo.marca}}</p>
            <p>Descripción:  {{productInfo.descripcion}}</p>
            <p>Existencia: {{productInfo.existencia}}</p>
        </div>
        <div class="media-right col-2 mt-3">
            <div class="row">
                <a name="" id="" class="btn btn-primary btn-sm" routerLink="/products/{{productInfo.uid}}" role="button" 
                >Detalle<i class="fas fa-edit"></i></a>
            </div>
            <div class="row mt-3">
                <a name="" id="" class="btn btn-info btn-sm" routerLink="/products/{{productInfo.uid}}/edit" role="button" 
                >Editar<i class="fas fa-edit"></i></a>
            </div>
            <div class="row mt-3">
                <button type="button" class="btn btn-danger btn-sm" (click)="deleteThis()">Borrar</button>
            </div>
        </div>
    </div>
</div>
</li>