<div class="searchPadding row">
    <div class="col-4">
        <input type="text" [(ngModel)]="searchMessage" (keydown.enter)="search()"
            class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
    </div> 
    <div>
        <a name="" id="" class="btn btn-primary" role="button" (click)="search()">Buscar producto</a>
    </div>
    <div  class="ml-2">
        <button type="button" class="btn btn-success" (click)="confirmSelected()" 
        [disabled]="noMonitoreo() ? 'disabled': null">Añadir seleccionados a monitoreados</button>
    </div>
</div>

{{idMonitoreados | json}}

<!-- Solo los productos-->
<div class=" mt-2" *ngIf="router == '/products'">
    <ul *ngFor="let item of productsFilter; let i = index">
        <app-product [productInfo]=item [productID]=i (sendSelected)="getSelected($event)"></app-product>
    </ul>

    <div class="alert alert-danger" role="alert" *ngIf="productsFilter.length < 1">
        <strong>Ningún producto concuerda con la búsqueda</strong>
    </div>
</div>

<!-- Solo los monitoreados-->
<div class=" mt-2" *ngIf="router == '/monitoreo'">
    <ul *ngFor="let item of monitorFilter; let i = index">
        <app-product [productInfo]=item [productID]=i ></app-product>
    </ul>

    <div class="alert alert-danger" role="alert" *ngIf="monitorFilter.length < 1">
        <strong>Ningún producto concuerda con la búsqueda</strong>
    </div>
</div>